BETTER_AUTH_SECRET = TanGTRxGhgQPvencvs69wwHJkGHht5Fj #Get From https://www.better-auth.com/
NEXT_PUBLIC_APP_URL = #Your App URL e.g. http://localhost:3000 or https://yourdomain.com
DATABASE_URL = postgresql://neondb_owner:npg_qznOi5YQVA4R@ep-small-math-anz52zv5-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require # Get From Neon 
GITHUB_CLIENT_ID = #Get From GitHub Developer Settings
GITHUB_CLIENT_SECRET = #Get From GitHub Developer Settings
TMDB_API_KEY= #Get From https://www.themoviedb.org/settings/api
UPSTASH_REDIS_REST_URL = https://liked-penguin-80328.upstash.io  #Get From https://upstash.com/
UPSTASH_REDIS_REST_TOKEN = gQAAAAAAATnIAAIncDIyNmRiMzIzMzA1MDA0ZDY0OWUxZTFjOTg4ZDE4NWI5NXAyODAzMjg #Get From https://upstash.com/
RESEND_API_KEY = #Get From https://resend.com/ - Required for email notifications (login alerts & quota warnings)
